<div aria-live="polite" aria-atomic="true" style="position: relative;">
  <div data-delay="3500" class="toast" style="position: absolute; ">
    <div class="toast-header">
      <strong class="mr-auto">FoodWise</strong>
      <small>1 mins ago</small>
    </div>
    <div class="toast-body">
      Your order is confirmed!
    </div>
  </div>
</div>
