/*** Hero Header ***/
.hero-header {
  background: linear-gradient(rgb(126, 181, 166, .9), rgba(15, 23, 43, .9)), url('https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2022-03/plant-based-food-mc-220323-02-273c7b.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header img {
  animation: imgRotate 30s linear infinite;
  border-radius: 76%;
  width: 350px;
  height: 350px;
  box-shadow: 0px 0px 20px 5px #105351;
}

@keyframes imgRotate {
  100% {
      transform: rotate(360deg);
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, .5);
}

/*** Service ***/
.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
}

.service-item:hover {
  background: #d3d6c49e !important;
}

.service-item * {
  transition: .5s;
}

.service-item:hover * {
  color: var(--foodwise-light) !important;
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
  transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--foodwise-primary) !important;
  border-color: var(--foodwise-primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: var(--foodwise-light) !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 15px;
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--foodwise-primary);
  border-color: var(--foodwise-primary);
}
