
/********** Template CSS **********/
:root {
  --foodwise-primary:  #152f6e ;
  --foodwise-light: #f5ce5a;
  --foodwise-dark: #183A1D;

}

.ff-secondary {
  font-family: 'Pacifico', cursive;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}
.maincontainer{
  background-color: #f3f9ff;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


/*** Button ***/
.btn {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: .5s;

}

.btn.btn-primary,
.btn.btn-secondary {
  background-color: #e5d478 !important;
  color: #243763 !important;
  border-radius: 12px;
  border-color: #ffffff0d!important;
  box-shadow: 0px 1px 11px 0px;
}

.btn.btn:hover{
  background-color: #475661!important;
  color: #cbc28f !important;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:bolder;
  border-radius: 2px;
  color: #243763 !important;
}


/*** Navbar ***/



/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;

}
.service-item {
  box-shadow: 0px 0px 4px 0px #0000009e;
  transition: .5s;
  color: black !important;
  background-color: #47566133;
}
.service-item:hover div p,
.service-item:hover div h5{
  color: #929292 !important;

}

.service-item:hover {
  /* background: #aebb6f6f; */
  background-color: transparent!important;
  cursor: pointer;
}

.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 3.7px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--foodwise-primary);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 3.7px;
  top: 55%;
  right: -55px;
  margin-top: -1px;
  background: var(--foodwise-primary);
  box-shadow: -1px 0px 7px 1px #c9c9c95c;
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}



/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--foodwise-light);
  border: 1px solid #FFFFFF;
  border-radius: 35px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--foodwise-primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--foodwise-light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(232, 21, 21, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.foodwise-text {
  color: #f5ce5a!important;

}

.foodwise-text :hover{
  color:black;
}
